# Any svn metafiles
*.svn
.svn/
# Ignore all bin directories
[Bb]in/
# Ignore all obj directories
[Oo]bj/
# Solution files
*.suo
# User files
*.user
# NuGet
packages/
# design and marketplace assets
design/
marketplace/
# private 3rd-party library folder
lib/private/
lib/WP7/*
lib/WP8/*
lib/WinRT/*
# Thumbnail cache
[Tt]humbs.db
# backup folder
backup/
# screenshots folder
screenshots/
# ThreadIcons folder
ThreadIcons/
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.pri
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
ClientBin
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
PerfLogs/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Examples*/
SerializerTest*/
*.csproj.user
*.resharper*
Download/
#Ignore files from MonoDevelop
*.pidb
*.userprefs
SubmissionInfo/

/Awful.WP8/Awful.WP8.Core.Test/Awful.WP8.Core.Test/TestConfiguration.cs
